<div class="chat-container">
  <!-- Messages Section -->
  <div class="messages-section">
    <mat-card class="messages-card">
      <mat-card-content class="messages-list" #scrollMe>
        <ng-container *ngFor="let message of messages">
          <div class="message" [ngClass]="{'received': message.sender !== myId, 'sent': message.sender === myId}">
            <span class='messageTime'>{{message.timedate}}</span>
            <span class="messageText">{{message.data}}</span>  
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Message Input Section -->
  <div class="message-input">
    <mat-form-field class="message-input-field">
      <input [(ngModel)]="newMessage" matInput type="text" placeholder="Type a message...">
    </mat-form-field>
    <button class="sendButton" mat-stroked-button color="accent" (click)="sendMessage()">Send</button>
  </div>

  <!-- Call Action Buttons -->
  <div class="call-action-buttons">
    <button mat-raised-button color="accent" class="callButton" (click)="initiateCall()">Start Video Call</button>
    <button mat-raised-button color="accent" class="hangupButton" (click)="endCall()" *ngIf="inCall">Hangup</button>
  </div>

  <!-- Video Section -->
 <div class="video-container" *ngIf="inCall">
  <div class="video-wrapper">
    <video #localVideo autoplay muted fxFlex playsinline webkit-playsinline></video> <!-- Video for the caller -->
  </div>
  <div class="video-wrapper">
    <video #remoteVideo autoplay fxFlex playsinline webkit-playsinline></video>
  </div>
</div>
</div>
