.message-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message {
  position: relative;
  padding: 10px;
  margin: 5px;
  margin-top: 20px;
  border-radius: 10px;
  max-width: 60%;
  min-width: 40%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.messages-card {
  min-height: 30rem;
  max-height: 20rem;
  overflow: scroll;
}

.received {
  padding: 20px;
  background-color: #eceff1; /* Light grey background */
  text-align: left; /* Align text to the left */
  margin-right: auto; /* Push the message box to the left */
}

.sent {
  padding: 20px;
  background-color: #42a5f5; /* Light blue background */
  text-align: right; /* Align text to the right */
  margin-left: auto; /* Push the message box to the right */
  color: white; /* White text color */
}

.messages-list {
  display: flex;
  flex-direction: column;
}

.message-input {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendButton {
  margin-bottom: 1rem;
}

.messageTime {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.callButton {
  position: absolute;
  right: 1rem;
  top: 4rem;
}
