.mat-dialog-container {
  width: 100vw !important;
  height: 100vh !important;
  max-height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-container {
  position: relative;
  width: 100%;
  height: calc(
    100% - 60px
  ); /* Adjusting height to account for action buttons */
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  max-width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#localVideo {
  position: relative;
  width: 20%; /* Width as a percentage of the container for responsiveness */
  height: 80%; /* Maintain aspect ratio */
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

#remoteVideo {
  width: 60%; /* Ensures it takes up the maximum width of the container */
  height: 80%; /* Ensures it takes up the maximum height of the container */
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px; /* Adjust for aesthetic preference */
  z-index: 1;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .video-container {
    flex-direction: column;
  }
  #localVideo {
    width: 30%; /* Increase the size on smaller screens for visibility */
  }
}
